body{
    background-image:linear-gradient(45deg,grey,white,yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button{
    width: 100px;
}

#bulbSwitch{
    border-radius:50rem;
    background-image: linear-gradient(red, blue);
    color: white;
    width: 90px;
    height: 40px;
    box-shadow: 4px 4px 8px green;
    
}

#bulbSwitch:hover{
    background: #000;
    color: white;
    scale:1s;
}

